{% extends 'layout/admin.html' %} {% block content %}
<form class="max-w-sm mx-auto" action="{% url 'editar_vendedor' vendedor.id_vendedor %}" method="post">
  {% csrf_token %}
  <div class="mb-5">
    <label
      for="nombres"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
      >Nombres</label
    >
    <input
      style="background-color: white; color: black"
      type="text"
      id="nombres"
      name="nombres"
      value="{{vendedor.nombre}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-5">
    <label
      for="apellidos"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
      >Apellidos</label
    >
    <input
      style="background-color: white; color: black"
      type="text"
      id="apellidos"
      name="apellidos"
      value="{{vendedor.apellido}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-5">
    <label
      for="telefono"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
      >Telefono</label
    >
    <input
      style="background-color: white; color: black"
      type="text"
      id="telefono"
      name="telefono"
      value="{{vendedor.telefono}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <div class="mb-5">
    <label
      for="correo"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-black"
      >Correo</label
    >
    <input
      style="background-color: white; color: black"
      type="text"
      id="correo"
      name="correo"
      value="{{vendedor.correo}}"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
  </div>
  <button
    type="submit"
    class="text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
  >
    Editar
  </button>
</form>
{% endblock %}